# ---------------------------
# GLOBAL
# ---------------------------

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environments
.env
.env.*.local
.env.local
.env.example

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ---------------------------
# FRONTEND (Angular CLI - poke-diary-frontend)
# ---------------------------

# Angular output
/frontend/poke-diary-frontend/dist/
/frontend/poke-diary-frontend/.angular/
/frontend/poke-diary-frontend/out-tsc/
/frontend/poke-diary-frontend/coverage/

# Node modules
/frontend/poke-diary-frontend/node_modules/

# Build artifacts
/frontend/poke-diary-frontend/.turbo/
/frontend/poke-diary-frontend/.parcel-cache/

# Others
/frontend/poke-diary-frontend/.browserlistrc
/frontend/poke-diary-frontend/.DS_Store

# ---------------------------
# BACKEND (Go + Gin)
# ---------------------------

# Build binaries
/backend/bin/
/backend/pkg/

# Go cache
/backend/go.sum
/backend/go.work
/backend/.DS_Store

# Compiled binaries
/backend/*.exe
/backend/*.exe~
/backend/*.dll
/backend/*.so
/backend/*.dylib

# ---------------------------
# MISC
# ---------------------------

# Backup & temp files
*.swp
*.tmp
*~
*.bak
*.orig
*.old

# Compressed files
*.zip
*.tar.gz
*.rar
*.7z
