<div class="diary-view-container" *ngIf="diary">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ diary.title }}</mat-card-title>
            <mat-card-subtitle>Jogo: {{ diary.game }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p class="notes">
                {{ diary.notes || 'Sem anotações registradas.' }}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-stroked-button color="primary" [routerLink]="['/diary']">
                Voltar para lista
            </button>
        </mat-card-actions>
    </mat-card>
</div>