.diary-view-container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
}

.notes {
    white-space: pre-wrap;
    font-size: 1.1rem;
    line-height: 1.7;
    margin-top: 1rem;
    color: #333;
}