<div class="diary-form-container">
    <h2 class="title">Editar Jornada</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" required />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Jogo</mat-label>
            <input matInput formControlName="game" required />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Notas</mat-label>
            <textarea matInput rows="5" formControlName="notes"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Salvar Alterações
        </button>
    </form>
</div>